body {
	background-color: #1E0D30;
	color: #FFF;
}

.presentation {
	background: 
		#FA9D01 
		url(img/autumnBG.jpg)
		top center / cover
		fixed;
	display: flex;
	justify-content: center;

}

.presentation-content {
	margin: 100px 20px 130px 20px;
	padding: 25px;
	background-color: rgba(20, 20, 20, 0.7);
	border-radius: 45px;
	display: flex;
	flex-wrap: wrap;
}

.presentation-img-box {
	margin: 0 auto;
}

.presentation-img {
	height: 200px;
	border-radius: 50%;
	border: 10px solid #EEE;
}

.presentation-text {
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
}

.presentation-text p {
	margin: 15px;
	font-size: 1.1rem;
}

.presentation-text h1 {
	margin: 5px;
	margin-bottom: 20px;
	font-size: 2.2rem;
}

